[Unit]
Description=Proxy Service - Port Address Translation for OpenStack
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart= /home/centos/env/bin/python /usr/local/lib/praas/pat_service.py
[Install]
WantedBy=multi-user.target
