[Unit]
Description=Proxy Service - Monitor Agent for OpenStack
After=proxyopenstack-pat-agent.target
[Service]
Environment=
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=

[Install]
WantedBy=multi-user.target
